# backend env
PORT = 8000
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_DB = trh_db
POSTGRES_HOST = postgres
POSTGRES_PORT = 5432
# JWT Configuration
JWT_SECRET=your-secret-key

# Default Admin Account (optional - will use defaults if not set)
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=