# Docker Image Versions
# Copy this file to config/.env.docker to customize versions
# Used by docker-compose to determine which image tags to pull

# Backend service version
TRH_BACKEND_VERSION=v1.0.1-alpha

# UI service version
TRH_PLATFORM_UI_VERSION=1.0.0
